<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medicare Eligibility Credential</title>
</head>
<body>
    <form action="/credential" method="post">
  <label for="username">UserName</label><br>
  <input type="text" id="username" name="username" placeholder="input your username here"><br>
  <label for="password">Password</label><br>
  <input type="text" id="password" name="password" placeholder="input your password here"><br>
         <label for="Api Key">Api Key</label><br>
  <input type="text" id="apiKey" name="apiKey" placeholder="input your apiKey here"><br>
        <label for="Access Key">Access Key</label><br>
  <input type="text" id="accesskey" name="accesskey" placeholder="input your access key here"><br><br>
  <input type="submit" value="Submit">
    </form>

<h2>Submit new credentials ONLY when credentials change</h2>
</body>
</html>